/* src/styles/Footer.css */
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
  
.social-links {
  color: #ffdd57;  /* Updated: Changed color */
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;  /* Updated: Changed font-weight */
}

.social-links a {
    color: #00aced;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}
  
.social-links a:hover {
    color: #f1c40f;  /* Updated: Changed hover color */
    text-decoration: underline;
}
  